.options {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.options__label {
    padding-bottom: 20px;
}

.oprions__name-field {
    margin-left: 20px;
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(166, 178, 234);
}

.options__type-header {
    padding-top: 30px;
    font-size: 30px;
}

.options__choose-type-block {
    display: flex;
    gap: 30px;
}

.styled-button {
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #468efa;
}
